#bio h1 {
    text-align: center;
    font-weight: bold;
    line-height: 60px;
}

#bio .short-info {
    font-weight: bold;
    margin: 0 0 10px 0;
}

#bio img {
    margin: 0 0 10px 0;
}

#bio .short-list {
    margin: 5px 0;
    padding: 0;
    list-style: none;
}

#bio .fas {
    color: #f7df1e;
}