.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    padding: 1rem;
    background-color: white;
    border-right: 1px solid var(--white, #f2f3f5);
    width: 12rem;
    overflow-y: auto;
    transition: all 0.5s;
    z-index: 9997;
}

.header.active {
    left: 0;
}

@media (min-width: 992px) {
    header {
        left: 0;
    }
}

@media (min-width: 992px) {
    .nav-menu__toggle {
        display: none;
    }
}

.nav-menu {
    display: flex;
    flex-direction: column;
}

.nav-menu__toggle {
    position: fixed;
    left: 1rem;
    top: 1rem;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 1.5rem;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.nav-menu__button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background-color: var(--white, #f2f3f5);
    height: 2rem;
    transition: 0.3s;
    text-decoration: none;
}

.nav-menu__button:first-of-type {
    margin-top: 3rem;
}

.nav-menu__button:not(:first-of-type) {
    margin-top: 0.5rem;
}

.nav-menu__icon {
    font-size: 1.2rem;
}

.nav-menu__label {
    padding: 0 5px 0 7px;
    color: var(--black, #45505b);
}

.nav-menu__button:hover,
.nav-menu__button.active {
    background: var(--yellow, #f7df1e);
}

.nav-menu__button:hover {
    color: var(--black, #343a40);
}

@media (min-width: 1024px) {
    .header {
        justify-content: center;
        left: 0;
        background-color: unset;
        border-right: unset;
        width: unset;
    }

    .nav-menu__button {
        justify-content: center;
        width: 2rem;
        padding: 1rem;
    }

    .nav-menu__button:hover {
        justify-content: flex-start;
        width: min-content;
        padding: 1rem 1.5rem;
    }

    .nav-menu__button:first-of-type {
        margin-top: 0;
    }

    .nav-menu__label {
        display: none;
    }

    .nav-menu__button:hover .nav-menu__label {
        display: block;
    }
}