@import url(intro.css);
@import url(bio.css);
@import url(skills.css);
@import url(timeline.css);

* {
    color: #343a40;
    font-family: "Raleway", sans-serif;
}

section {
    width: 100%;
    height: 100vh;
}

hr {
    border-top: 3px solid #f7df1e;
    margin: 0 0 10px 0;
}

.slider__indicator {
    background-color: #343a40;
}